* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  
  .navbar {
    background-color: #E6DBC9;
    color:  #7B452A;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo2 {
    font-weight: 300;
  }

  #logoimg {
    width: 60px;
    height: 60px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 0;
  }
  
  .nav-links a {
    color: #7B452A;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: white;
  }

  .tableBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .addDataButton{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    width: 80%;
  }

  .submitButton {
    background-color: #7B452A;
    color: #E6DBC9;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid #ccc; 
    padding: 8px;
    text-align: center;
    vertical-align: middle;
  }

  table {
    border-collapse: collapse;
    border: 2px solid black; 
  }
  
